@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  height: 6px;
}

/* Define the track (the background) of the scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Make it transparent */
}

/* Hide the scrollbar thumb by default */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
  border-radius: 3px; /* Rounded corners for the thumb */
  transition: background-color 0.2s; /* Add a transition effect */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #888; /* Make the thumb transparent */
}

/* Show the scrollbar thumb when the scrollable component is hovered over */
:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}
